<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607761006316-n1ikpabsk2hbh7hu3pdud3iioi3irir7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607761006316-n1ikpabsk2hbh7hu3pdud3iioi3irir7</string>
	<key>API_KEY</key>
	<string>AIzaSyAbfZFuYLEgnGwjeTc3HW9qN3z6THyUU48</string>
	<key>GCM_SENDER_ID</key>
	<string>607761006316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bffPay.bffPay</string>
	<key>PROJECT_ID</key>
	<string>bffpay-43b32</string>
	<key>STORAGE_BUCKET</key>
	<string>bffpay-43b32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607761006316:ios:b1c400ed1ac753dbfa2fc9</string>
</dict>
</plist>